@import 'config';
@import 'menu';
@import 'home';
@import 'animation';
@import 'responsive';
@import 'about';
@import 'pricing';
@import 'examples';
@import 'contact';


html, body {
  scroll-behavior:smooth;
  overflow-x: hidden;
}
body {
  background: $background-color;
  color: set-text-color($white-color);
  width: 100vw;
  line-height: 1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, poppins, nunito, montserrat; 
}
.excluding-home {
  background: $white-color;
}
